html,
body {
  background-color: #000;
}

@keyframes leftToRight {
  0% {
    left: 0;
    top: 0;
  }

  10% {
    /* left: 50%; */
    top: 20px;
  }

  20% {
    /* left: 50%; */
    top: 60px;
  }

  40% {
    /* left: 50%; */
    top: 30px;
  }

  60% {
    /* left: 50%; */
    top: 60px;
  }

  80% {
    /* left: 50%; */
    top: 10px;
  }

  100% {
    left: 105%;
  }
}

.kid-container {
  margin: 0 auto;
  width: 479px;
}

#kid {
  background: url('images/kid.png') 0px 0px;
  height: 797px;
  position: relative;
  width: 479px;
  z-index: 10;
}

.ghost {
  -webkit-animation: leftToRight 5s infinite;
  animation: leftToRight 5s infinite;
  background: url('images/ghost-r.png') 0px 0px;
  position: absolute;
  top: 0;
  left: 0;
  height: 58px;
  width: 58px;
}

.ghost.behind {
  z-index: 5;
}

.ghost.infront {
  z-index: 15;
}
